<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Volumes/HD/Applications/Bible Glo.app</key>
	<true/>
	<key>/Volumes/HD/Applications/Colloquy.app</key>
	<true/>
	<key>/Volumes/HD/Applications/iA Writer.app</key>
	<true/>
</dict>
</plist>
